body
{
	/* background-color: white; */
	background-image: url(images/tweed.png);
	/* Background pattern from subtlepatterns.com */
	margin: 0;
}

.container
{
	/* background-color: white; */
	background-image: url(images/tweed.png);
	width: 90%;
	/* height: 800px; */
	margin: auto;
}

.logo
{
	background-color: coral;
	width: 100%;
	height: 100px;
	margin: auto;
}

.content
{
	background-color: skyblue;
	width: 100%;
	/* height: 500px; */
	float: left;
	text-align:center;
}
.footer
{
	/* background-color: RebeccaPurple; */
	background-image: url(images/tweed.png);
	width: 100%;
	height: 50px;
	clear: both;
	text-align:center;
	color:white;
}

